[mysqld]

user = mysql

#basedir =/Users/huoyinghui/github/mysql-server/cmake-build-debug

#datadir = /Users/huoyinghui/github/mysql-server/cmake-build-debug/data

#tmpdir = /Users/huoyinghui/github/mysql-server/cmake-build-debug/tmp

#socket = /tmp/mysql.sock

#log_error = /Users/huoyinghui/github/mysql-server/cmake-build-debug/error.log
